.counter{
	display: inline-block;
	margin-top: 100px;
	> div{
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0 10px;
		&::after{
			display: block;
			text-align: center;
			font-size: 15px;
			color: black;
			margin-top: 5px;
		}
		&.hours::after{
			content: 'Часов';
		}
		&.mins::after{
			content: 'Минут';
		}
		&.secs::after{
			content: 'Секунд';
		}
		&.days::after{
			content: 'Дней';
		}
	}
	span{
		display: inline-block;
		font-size: 27px;
		color: white;
		border-radius: 5px;
		box-shadow: 1px 2px 1px rgba(0,0,0,.3);
		background: rgb(69,69,69);
		padding: 7px 0;
		margin: 0 2px;
		width: 35px;
		text-align: center;
	}
}
