.messages{
	padding: 30px;
}

h2{
	font-size: 24px;
	margin: 0 0 20px;
	text-align: center;
}

textarea{resize: none;}

.todo{
	padding: 20px;
	display:block;
	width: 500px;
	margin: 0 auto;
	.list{margin-bottom: 20px;}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			display: block;
			padding: 10px;
			border-top: 1px solid #D0D0D0;
			border-bottom: 1px solid #D0D0D0;
			font-size: 14px;
			position: relative;
			text-align: left;
			& + li{border-top: 0;}
			.buttons{
				display: inline-block;
				vertical-align: middle;
				width: 90px;
			}
		}
	}
	.none-list{
		p{
			padding: 15px;
			border-radius: 3px;
			text-align: center;
			font-size: 18px;
		}
	}
	.error-description{
		color: #a94442;
		font-size: 12px;
	}
}

.form-control.error{
	border: 1px solid #a94442;
}

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
